.img {
    width: 70%;
    height: 100%;
    img {
        display: block;
        margin: 2rem auto;
        padding: 0 0 0 1rem;
        width: 70%;
        &:first-child {
            margin: 1rem 1.5rem;
            width: 150px;
            
        }
    }
}